#home{
    display: flex;
    min-height: calc(100vh - 100px);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap:40px;


}

.tittle{

    line-height: 1.2;
}
.tittle span{
    line-height: 1.3;
}

#cta {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .tittle{
    font-size: 3rem;

    color: rgb(57, 35, 22)
}

#cta .tittle span{
    display: block;
    color: rgb(180, 103, 98)
}

#cta .description{
    font-size: 1.2rem;
}

#cta_buttons{
    display: flex;
    gap: 24px;
}

#cta_buttons a{
    text-decoration: none;
    color: white;
}

#selos-confianca {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
}

#banner img {
    display: flex;
    margin-top: 25%;
    height: 40%;
    max-width: 100%;
    justify-content: center;
    width: auto;
    border-radius: 15px;
}



@media (max-width: 1240px) {
    #home {
        margin-top: 15%;
        flex-direction: column; /* Empilha: Texto em cima, Imagem embaixo */
        gap: 20px;              /* Diminui o espaçamento no celular */
        align-items: flex-start; /* Alinha o conteúdo à esquerda */
    }

    #cta {
        width: 100%;            /* Ocupa a largura total da tela no celular */
    }

    #cta .tittle{
        font-size: 2rem;
    }

    #selos-confianca {
        flex-wrap: wrap;        /* Permite os selos quebrarem linha se faltar espaço */
        gap: 12px;              /* Aproxima os selos no celular */
    }
}